.todo-list__item {
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 24px;
  border-bottom: 1px solid var(--color);
  min-height: 64px;

  .edit-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .todo-text {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 50px;

    input {
      width: 100%;
      height: 100%;
      font-size: 18px;
      outline: none;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &:hover {
    .todo-list__delete-btn {
      visibility: visible;
      transform: scale(1);
    }
  }

    .todo-list__delete-btn {
      flex-shrink: 0;
      transition: all .5s cubic-bezier(0.3,0.2,0.2,1.4);
      visibility: hidden;
      transform: scale(0);
    }

  .todo-list__task {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 24px;
    flex-grow: 1;

    input[type="checkbox"] {
      flex-shrink: 0;
      -webkit-appearance: none;
      appearance: none;
      width: 24px;
      height: 24px;
      border: 1px solid var(--color);
      border-radius: 100%;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;
      outline: none;

      &.checked~div {
        transition: all .1s ease-in-out;
        text-decoration: line-through;
        color: var(--greys);
      }

      &.checked {
        background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
      }

      &::before {
        content: "";
        background-image: url("../../../public/assets/icons/check.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 8px;
        pointer-events: none;
        display: none;
      }

      &.checked::before {
        display: block;
        z-index: 1;
      }
    }

    form {
      font-weight: 400;
      font-size: 18px;
      letter-spacing: -0.25px;
      color: var(--text);
      word-break: break-word;
    }
  }
}