.todo-app__body {
  transition: all .3s ease-in-out;
  width: 100%;
  box-shadow: 0 35px 50px -15px var(--shadow);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .todo-app__body {
    margin-bottom: 0;
    box-shadow: none;
  }
}