.todo-list {
  transition: background-color .3s ease;
  display: flex;
  flex-direction: column;
  max-height: 450px;
  overflow-y: auto;
  background-color: var(--primary-color);
}
.placeholder {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--placeholder);
  border-bottom: 1px solid var(--color);
  transition: border-bottom-color, color, background-color .3s ease;
}
@media (max-width: 600px) {
  .todo-list {
    box-shadow: 0 35px 50px -15px var(--shadow);
  }
}

